/*

Template 2074 Corporate

http://www.tooplate.com/view/2074-corporate

*/

body {
	margin: 0;
	padding: 0;
	color: #868684;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #3a3737;
	background-image: url(images/body_top.jpg);
	background-repeat: repeat-x;
	background-position: top
}

a, a:link, a:visited { color: #434341; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #555; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 35px 0; padding: 5px 0; }
h2 { font-size: 30px; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { color: #868684; background: url(images/more.png) scroll 0 6px no-repeat; padding-left: 12px  }
a.more:hover { color: #000 }

.float_l { float: left }
.float_r { float: right }

.image_left { float: left; margin: 0 15px 10px 0; }

.image_right { float: right; margin: 0 0 10px 15px; }

.imger_box { margin-bottom: 15px }

.image_wrapper { position: relative; display: inline-block; margin-bottom: 10px }

.image_wrapper span { position: absolute; top: 0; left: 0; width: 195px; height: 87px; background: url(images/timage_frame.png) no-repeat }

.image_wrapper img { width: 195px; height: 87px }

.image_fl { float: left; margin: 3px 20px 5px 0 }

.image_fr { float: right; margin: 3px 0 5px 20px }

.image_gallery { margin: 15px 0 15px 0; }

.gallery_title { text-align: center; }

blockquote { font-style: italic; margin-left: 10px}
cite, cite a { font-weight: 700; color:#000 }
cite span { color: #868684 }
em { color: #000 }

.tmo_list { margin: 0 0 0 15px; padding: 0 0 0 15px; list-style: disc }
.tmo_list li { color: #000; margin: 0; padding: 3px 0 3px 0; text-decoration: none  }
.tmo_list li a { color: #000; text-decoration: underline}
.tmo_list li a:hover { text-decoration: none }

#body_wrapper {
	width: 100%;
	padding-bottom: 20px;
	background: url(images/body_bottom.jpg) repeat-x bottom
}

#wrapper { 
	width: 960px;
	margin: 0 auto
}

#ttop {
	padding: 10px;
}

#search_box { clear: both; float: right; margin: 0; }

#search_box form { 
	clear: both;
	width: 220px; 
	height: 40px;
	padding: 7px 18px 10px 18px; 
	background: url(images/search_box.png) no-repeat
} 

#searchfield { 
	width: 138px; 
	padding: 0 5px 0 5px; 
	margin: 0;
	margin-right: 7px; font-size: 12px; color: #8b898a; line-height: 30px; background: none; border: none; } 

#searchbutton { height: 25px; width: 60px; padding: 0; margin: 0; cursor: pointer; background: none; border: none; }

#header {
	clear: both;
	width: 940px;
	height: 106px;
	padding: 10px;
	background: url(images/header.png) no-repeat top 
}

#site_title { float: left; margin: 35px 0 0 10px; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 342px; height: 49px; color: #333; text-indent: -10000px; background: url(images/logo.png) bottom left no-repeat}

#header_right {
	float: right;
	width: 560px;
}

/* menu */

#menu {
	clear: both;
	float: right;
	display: inline-block
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#menu ul li a {
	float: left;
	display: inline-block;
	width: 102px;
	height: 36px;
 	line-height: 36px;
	margin-right: 1px;
	font-size: 14px;
	color: #7c7c7b;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}

#menu ul li a:hover, #tmenu ul .current {
	color: #e0e0de;
	background: url(images/menu_hover.png) repeat-x top
}

/* end of menu */

#main_bottom { width: 960px; height: 10px; background: url(images/main_bottom.png) no-repeat }
#main {
	clear: both;
	width: 920px;
	padding: 30px 20px 0;
	background: url(images/main.jpg) repeat-y
}

.content_box {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.lb { margin-bottom: 0 }

.hr_divider {
	border-bottom: 1px solid #999
}

#content {
	float: left;
	margin-left: 40px;
	width: 360px;
}

.sidebar {
	width: 240px;
}

.col_half {
	float: left;
	width: 435px;
	margin: 0px 30px 30px 0px;
}

.col_large {
	width: 640px;
	margin: 0px 0px;
}

.box01 {
	clear: both;
	position: relative;
	padding: 20px;
	background: url(images/box01.jpg) repeat-y center
}

.box01 span.top { position: absolute; top: 0; left: 0; width: 240px; height: 14px; background: url(images/box01_top.jpg) no-repeat center }
.box01 span.bottom { position: absolute; bottom: 0; left: 0; width: 240px; height: 14px; background: url(images/box01_bottom.jpg) no-repeat center }

.box01_content {
	margin-bottom: 20px;
}

#bottom {
	clear: both;
	width: 920px;
	padding: 30px 20px;
}

#bottom h4 {
	font-size: 24px;
	color: #afafae;
	padding-bottom: 15px;
	border-bottom: 1px solid #666;
	margin-bottom: 25px;
}

.col_w280 {
	float: left;
	margin-right: 40px;
	width: 280px;
}

a.follow_us { color: #30aede }

.rmb { margin: 0 }

#footer_wrapper {
	clear: both;
	width: 100%;
	height: 38px;
	background: url(images/footer.jpg) repeat-x
}

#footer {
	clear: both;
	width: 920px;
	padding: 0 20px;
	margin: 0 auto;
	line-height: 38px;
	text-align: center;
	color: #d7d4d4;
}

#footer a {
	color: #d7d4d4;
}

#contact_form { padding: 0; }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	width: 360px; 
	padding: 8px; 
	margin-bottom: 20px; 
	color: #666;  
	background: #FFF; 
	border: 1px solid #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contact_form form label { display: block; margin-bottom: 10px; font-size: 16px; }

#contact_form form textarea { 
	width: 360px; 
	height: 160px; 
	padding: 8px; 
	margin-bottom: 10px; 
	color: #666;
	background: #FFF; 
	border: 1px solid #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.submit_btn {
	padding: 10px 25px;
	color: #666;
	background: #FFF; 
	border: 1px solid #999;
	margin-top: 10px;
}